<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="saveUser" method="get">

    <table border="1">
        <tr>
            <th>name</th>
            <th>lastname</th>
            <th>age</th>
            <th>authority</th>
        </tr>
        <tr>
            <td><input type="text" name="name" th:value="${user.getName()}"/></td>
            <td><input type="text" name="lastname" th:value="${user.getLastname()}"/></td>
            <td><input type="number" name="age" th:value="${user.getAge()}"/></td>
            <input hidden="hidden" type="number" th:name="id" th:value="${user.getId()}"/>
            <td><input type="checkbox" name="isUser" th:value="ROLE_USER" id="isUSER"><label for="isUSER">User</label>
            <input type="checkbox" name="isAdmin" th:value="ROLE_ADMIN" id="isAdmin"><label for="isAdmin">Admin</label></td>
        </tr>
        </tr>
    </table>

    <input type="submit" value="Ok"/>



</form>

</body>
</html>