<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:utext="${user.getName()} + ', welcome!'"></h1>



<table border="1">
    <tr>
        <th>Your name</th>
        <th>Your lastname</th>
        <th>Your age</th>
    </tr>
    <tr>

    <td th:utext="${user.getName()}"></td>
    <td th:utext="${user.getUserPassword()}"></td>
    <td th:utext="${user.getAge()}"></td>

    </tr>
</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" th:value="Logout"/>
</form>

</body>
</html>